<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>QUALITY TRANSPORT</title>
</head>

<body id="body">

    <div class="container">
        <nav class="barra">
            <div class="navbar__left">
                <a href="/templates/index.html" class="active_link" name="barra1" id="navbar_a">Inicio</a>
                <a href="/templates/info.html" name="barra2" id="navbar_q">¿Quiénes somos?</a>
                <a href="/templates/servicios.html" name="barra3" id="navbar_a">Servicios</a>
                <a href="/templates/contact.html" name="barra4" id="navbar_a">Contáctanos</a>
                <a href="/templates/login.html" name="barra5" id="navbar_a">Iniciar sesión</a>
                <a href="/templates/register.html" name="barra6" id="navbar_a">Registrarse</a>
            </div>   
        </nav>
    

        <main>
            <div class="main__container">
                <div class="main__logo">
                    <img src="/static/images/logo.png" alt="Quality Transport logo">
                </div>
                <br>
                <div class="main__title">
                    <h1>QUALITY TRANSPORT</h1>
                </div>
                <br>
                <div class="information">
                    Somos una empresa de transporte turístico y empresarial. Enfocada en brindar soluciones ajustadas a las necesidades de cada cliente. Comprometidos con la excelencia de nuestros servicios y empeñados en una mejora continua para garantizar la satisfacción y preferencia de nuestros clientes.
                    Desde el año 2011 en el rubro de transporte y  adaptándonos a las exigencias de un mercado dinámico, cambiante y creciente, hemos permanecido y atendido a diferentes tipos de clientes, centrándonos siempre en el establecimiento de relaciones comerciales de largo plazo, aportando valor y en donde podamos ganar ambas partes.
                    Nos encanta trabajar con diferentes públicos, disfrutamos lo que hacemos y marcamos la diferencia en nuestros servicios.
                </div>

                <div class="cuadros">
                    <div class="servicios">
                        <div class="servicios_title">
                            <div>
                                <h1>Servicios</h1>
                            </div>
                        </div>
                        <div class="servicios_cuadros">
                            <div class="sc1">
                                <h1>Traslados dentro y fuera de El Salvador</h1>
                                
                            </div>

                            <div class="sc2">
                                <h1>Transporte de personal de trabajo</h1>
                                
                            </div>

                            <div class="sc3">
                                <h1>Traslado hasta el aeropuerto</h1>
                                
                            </div>

                            <div class="sc4">
                                <h1>Transporte para eventos y convenciones</h1>
                                
                            </div>

                            <div class="sc5">
                                <h1>Transporte turístico</h1>
                               
                            </div>

                            <div class="sc6">
                                <h1>Instituciones educativas</h1>
                                
                            </div>
                        </div>
                    </div>

                    <div class="charts__right">
                        <div class="charts__right__title">
                            <div>
                                <h1>¿Adónde viajar?</h1>
                                <br>
                                <h2>Conoce El Salvador</h2>
                            </div>
                        </div>

                        <div class="charts__right__cards">
                            <div class="video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XkmoWnS9Zls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            
                        </div>
                    </div>
                </div>

            </div>
        </main>

        
    </div>
    <script src="/static/script.js"></script>
</body>

</html>