<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>QUALITY TRANSPORT | Servicios</title>
</head>

<body id="body">

    <div class="container">
        <nav class="barra">
            <div class="navbar__left">
                <a href="/templates/index.html" class="active_link" name="barra1" id="navbar_a">Inicio</a>
                <a href="/templates/info.html" name="barra2" id="navbar_q">¿Quiénes somos?</a>
                <a href="/templates/servicios.html" name="barra3" id="navbar_a">Servicios</a>
                <a href="/templates/contact.html" name="barra4" id="navbar_a">Contáctanos</a>
                <a href="/templates/login.html" name="barra5" id="navbar_a">Iniciar sesión</a>
                <a href="/templates/register.html" name="barra6" id="navbar_a">Registrarse</a>
            </div>   
        </nav>
    

        <main>
            <div class="main__container">
                <div class="main__logo">
                    <img src="/static/images/logo.png" alt="Quality Transport logo">
                </div>
                <br>
                <div class="main__title">
                    <h1>SERVICIOS</h1>
                </div>
                <br>
                <div class="information">
                    Somos una empresa de transporte turístico y empresarial. Enfocada en brindar soluciones ajustadas a las necesidades de cada cliente. Comprometidos con la excelencia de nuestros servicios y empeñados en una mejora continua para garantizar la satisfacción y preferencia de nuestros clientes.
                    Desde el año 2011 en el rubro de transporte y  adaptándonos a las exigencias de un mercado dinámico, cambiante y creciente, hemos permanecido y atendido a diferentes tipos de clientes, centrándonos siempre en el establecimiento de relaciones comerciales de largo plazo, aportando valor y en donde podamos ganar ambas partes.
                    Nos encanta trabajar con diferentes públicos, disfrutamos lo que hacemos y marcamos la diferencia en nuestros servicios.
                </div>

                <div class="cuadros">
                    <div class="servicios">
                        <div class="servicios_title">
                            <div>
                                <h1>Servicios</h1>
                            </div>
                        </div>
                        <div class="servicios_cuadros">
                            <div class="sc1">
                                <h1>Traslados dentro y fuera de El Salvador</h1>
                                <p>Como parte del desarrollo de tu actividad comercial, ya sea para reuniones de negocios, visitas técnicas, envío y entrega de documentos importantes, entre otros.</p>
                            </div>

                            <div class="sc2">
                                <h1>Transporte de personal de trabajo</h1>
                                <p>Movilizamos a su personal antes o después de su jornada laboral. Lo hacemos con grato placer y le ofrecemos un trato respetuoso y preferencial para cada uno de sus colaboradores. En unidades para 10, 15, 28 o más pasajeros.</p>
                            </div>

                            <div class="sc3">
                                <h1>Traslado hasta el aeropuerto</h1>
                                <p>Sabemos la importancia de las conexiones, y lo que significa para ti viajar seguro y llegar a tiempo. Desde tu hogar u oficina, desde o hacia el aeropuerto, nos esmeramos en ser confiables y  hacer que tu viaje sea confortable.</p>
                            </div>

                            <div class="sc4">
                                <h1>Transporte para eventos y convenciones</h1>
                                <p>Nos volvemos parte de tu marca y nos adaptamos para hacer de tu evento un éxito.  Con capacidad y experiencia en logística para movilizar grupos de más de 100 personas.</p>
                            </div>

                            <div class="sc5">
                                <h1>Transporte turístico</h1>
                               <p>Disfrutar, tener vivencias únicas y poseer memorias increíbles de nuestro bello país es incomparable. ¡tienes que vivirlo!

                                El Salvador posee una variedad de atractivos turísticos. Conocemos sus ciudades, sus pueblos vivos, su gente y nos encanta acompañarte.</p>
                            </div>

                            <div class="sc6">
                                <h1>Instituciones educativas</h1>
                                <P>Volverte parte de algo siempre tiene un significado especial. Trabajamos con instituciones educativas para llevar a niños, jóvenes, padres de familia y docentes a diferentes actividades de esparcimiento o curriculares.  

                                    Poseemos excelentes relaciones con escuelas públicas, colegios privados, universidades y centros de enseñanza.</P>
                            </div>
                        </div>
                    </div>

                    <div class="charts__right">
                        <div class="charts__right__title">
                            <div>
                                <h1>Somos tu aliado</h1>
                                <br>
                                <h2>¿Por qué establecer relaciones comerciales con QT?</h2>
                            </div>
                        </div>

                        <div class="charts__right__cards">
                            <div class="sc1">
                                <h1>Garantizamos tu satisfacción</h1>
                                <p>Conductores capacitados para manejar a la defensiva, carnetizados por el VMT,  que te tratan con respeto, amabilidad, y con conocimiento del territorio nacional y centroamericano.</p>
                            </div>

                            <div class="sc2">
                                <h1>¡Ahorras dinero!</h1>
                                <p>Nos ajustamos a tus necesidades, manejamos precios competitivos y establecemos acuerdos comerciales bajo la premisa ganar-ganar.</p>
                            </div>

                            <div class="sc3">
                                <h1>Ahorras tiempo</h1>
                                <p>Aprovecha tu tiempo en otras actividades prioritarias de tu empresa y deja el transporte en nuestras manos, tenemos un protocolo de monitoreo de nuestras unidades en cada uno de nuestros servicios, lo que garantiza la puntualidad y el desarrollo de tu evento con éxito.</p>
                            </div>

                            <div class="sc4">
                                <h1>Tienes el control</h1>
                                <p>En nuestras unidades puedes elegir la música que deseas escuchar, así como el video que prefieras.  Contamos con un repertorio de música y video para que tú puedas disfrutar tu estancia en nuestras unidades.</p>
                            </div>

                            <div class="sc5">
                                <h1>Disfrutas el traslado</h1>
                               <p>Nos esmeramos por tener unidades en excelente estado, limpias, aromatizadas, cómodas, con A/C y mucho más…</p>
                            </div>

                            <div class="sc6">
                                <h1>¡No más estrés!</h1>
                                <P>Permite que seamos tus aliados y comprueba cada uno de estos beneficios disponibles para ti.</P>
                            </div>

                            
                        </div>
                    </div>
                </div>

            </div>
        </main>

        
    </div>
    <script src="/static/script.js"></script>
</body>

</html>